body {
    background-color: #1e1e2f;
    color: #f4f4f4;
    font-family: Arial, sans-serif;
    padding: 30px;
  }
  input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
  }
  button {
    background-color: #9a9ae7;
    color: white;
    border: none;
    cursor: pointer;
  }
  .container{
    display: flex;
    flex-direction: column;
  }